<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Backend deployment project</title>
</head>
<body>
    <h1>Hey guys, here's a working test page linking to an RDS MYSQL db.</h1>
    <p>
        This is setup using a fully automated pipeline so all you need to do is make changes and push the backend and everything else happens automatically.
    </p>
    <p>
        Note: I didn't add an SSL certificate since this would require me paying for a domain, hence the security warning.
    </p>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Enter your name" required>
        <button type="submit">Submit</button>
    </form>

    <h2>Users:</h2>
    <ul>
        <li th:each="user : ${users}" th:text="${user.name}"></li>
    </ul>
</body>
</html>